
h1 {
    text-align: center;
}

h2 {
    padding: 0.5em;
}

h2, h3 {
    align-self: center;
    margin: 0px;
}


summary {
    font-size: 1.5em;
    background-color: rgba(0, 255, 255, 0.21);
    border: 1px solid;
    text-align: center;
}

summary::marker {
    content: none;
}

#addItemPage {
    display: none;
    flex-direction: column;
    gap: 0.5em;
    background-color: white;
    position: absolute;
    top: 100px;
    width: 70%;
    left: 10%;
    height: 80%;
    border-radius: 30px;
    border: 2px gray solid;
    padding: 1.5em;
    padding-top: 0px;
    /* background-image: url(https://media.istockphoto.com/id/185071242/photo/seamless-fresh-snow-background.webp?s=2048x2048&w=is&k=20&c=OCcp8SeEfRXIqx3g-bCZXRoWbPArJNpOGKdTdTg3CTI=); */

}

#close {
    width: 35px;
}

#closeDiv {
    display: inline-grid;
    justify-content: end;
}

#inputBox, #numberOfItemsInput {
    width: 70%;
}

#inputDiv, #type, #numberOfItems, #keepsFor {
    align-self: center;
    gap: 1em;
}

#keepsForText {
    width: 50px;
}

#typeButtonsDiv1, #typeButtonsDiv2 {
  display: flex;
  justify-content: space-around;
  gap: 0.2em;
}

.backgroundDiv {
	display: flex;
	flex-direction: column;
	border: 1px rgb(192, 237, 255) solid;
    border-radius: 10px;
    background-color: rgba(192, 237, 255, 0.2);
	width: 100%;
    padding: 18px;
    padding-top: 0px;
}

.backgroundHeading {
    align-self: center;
    margin: 0px;
    background-color: rgba(153, 222, 238, 0.34);
    width: 115%;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.backgroundHeading1 {
  align-self: center;
  margin: 0px;
  background-color: rgba(153, 222, 238, 0.84);
  width: 117%;
  text-align: center;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: x-large;
  margin-bottom: 18px;
}

.buttonDiv {
	display: flex;
	gap: 0.3em;
	align-self: center;
}

.dateColour {
  background-color: lightgreen;
  margin-right: 5px;
}

.foodType {
  font-size: 2.2em;
  width: 25%;
  height: 1.5em;
}

.goesLeft {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goesRight {
    margin-left: 10px;
    flex-shrink: 0;
}

.itemDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.plus, .minus {
    border-color: rgb(241, 104, 104);
    border-radius: 7px;
    background-color: white;
    width: 28px;

}

.tabButton {
    width: 49%;
    border-radius: 15px 15px 0px 0px;
}
