button {
    height: 3vh;
}

h1 {
    margin: 0px;
    flex: 1;
    text-align: center;
}

h2 {
    padding: 0.5em;
}

h2, h3 {
    align-self: center;
    margin: 0px;
}

input {
    text-align: center;
}

summary {
    font-size: 1.5em;
    background-color: rgba(0, 255, 255, 0.3);
    border: 1px solid;
    text-align: center;
}

summary::marker {
    content: none;
}

#addItem {
    display: none;
    position: absolute;
    left: 68vw;
    bottom: 12vh;
    /* margin-top: 450px; */
    font-size: x-large;
    line-height: 0.1em;
    text-align: center;
    padding: .1em 0.12em .2em .1em;
    background-image: linear-gradient(#05b020, #0bfb31, #0bfb31, #0bfb31, #0bfb31, #05b020);
    height: 1.7em;
    width: 1.7em;
    border-radius: 25px;
    border: 1px solid rgb(108, 168, 48);
    z-index: 10;
    opacity: 0.8;
}

#addItemPage, #setUpDiv, #menuDiv, #changeShelvesDiv, #choseVeganOrNot {
    display: none;
    flex-direction: column;
    gap: 0.5em;
    background-color: white;
    position: absolute;
    top: 7vh;
    width: 86vw;
    left: 8vw;
    border-radius: 30px;
    border: 1px #acbad4 solid;
    padding-bottom: 2vh;
}

#addNew, #increment {
	width: 37vw;
	height: 5vh;
	border-radius: 15px;
    background-color: rgba(153, 222, 238, 0.77);
}

#burger {
    font-size: 1.6em;
    color: rgb(170, 170, 170);
    writing-mode: vertical-rl;
    border: inherit;
    background: inherit;
    width: 7vw;
}

#closeButton {
    position: relative;
    top: -5vh;
    width: 6vw;
    left: 75vw;
}

#closeDiv {
    display: inline-grid;
    justify-content: end;
}

.confirmationButton {
    background-image: linear-gradient(#05b020, #0bfb31, #0bfb31, #0bfb31, #0bfb31, #05b020);
    width: 30vw;
    border-radius: 10px;
    align-self: center;
}

#changeShelveDiv, #numberOfShelvesDiv, #newNumberOfShelvesDiv {
    /* display: flex; */
    display: flex;
    align-self: center;
    width: inherit;
    justify-content: space-around;
    gap: .4em;
}

#dropDownItemDiv {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    width: 64vw;
}

#headingContainer {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

#inputBox {
    text-align: end;
    width: 55vw;
    border: none;
    outline: none;
}

#inputDiv, #type, #numberOfItems, #keepsFor, #shelveNumber, 
#introDiv, #setUpDiv, #choseNumberOfShelves, #choseCategories {
    align-self: center;
    gap: 2vh;
}

#choseNumberOfShelves, #choseCategories {
    display: none;
    gap: 1vh;
}

#inputBoxDiv {
    display: flex;
    border: 1px solid #c1c1c1;
    background-color: white;
}

#inputBoxMonth {
    width: 7vw;
    border: none;
    color: coral;
}

#keepsForText {
    width: 50px;
}

#menuDiv {
    top: 3vh;
    left: 1vh;
    width: 64vw;
    padding: 1vh;
    border-top-left-radius: 0px;
    background: rgb(242, 242, 242);
}

#message {
	display: none;
    justify-content: center;
	gap: 0.5em;
	position: absolute;
	top: 10vh;
	width: 80vw;
	left: 7vw;
	border-radius: 30px;
	border: 3px red solid;
    background-color: white;
    padding: 2vh;
	padding-top: 1vh;
	padding-bottom: 2vh;
    z-index: 1;
}

#setUpDiv, #tabButtons {
    display: none;
}

#spacerDiv {
    width: 7vw;
}

#tabButtons {
    display: flex;
    justify-content: space-between;
}

#textBoxDiv {
    flex-direction: column;
    position: relative;
}

#typeButtonsDiv1, #typeButtonsDiv2 {
  display: flex;
  justify-content: space-around;
  gap: 0.2em;
  font-size: 4vw;
  flex-wrap: wrap;
}

.backgroundDiv {
	display: flex;
	flex-direction: column;
	border: 1px rgb(192, 237, 255) solid;
    border-radius: 10px;
    background-color: rgba(192, 237, 255, 0.2);
	width: 80%;
    /* height: 10vh; */
    /* padding: 18px; */
    padding-bottom: 2vh;
}

.backgroundHeading {
    align-self: center;
    margin: 0px;
    background-color: rgba(153, 222, 238, 0.34);
    width: 100%;
    height: 1.8em;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 1.2em;
    align-content: center;
}

.backgroundHeading1 {
    align-self: center;
    margin: 0px;
    background-color: rgba(153, 222, 238, 0.84);
    width: 100%;
    height: 1.8em;
    text-align: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: x-large;
    /* margin-bottom: 18px; */
    align-content: center;
}

.bglightgreen {
    background-color: lightgreen;
    display: inline-block;
    width: 15vw;
    text-align: end;
}

.bgred {
    background-color: red;
    display: inline-block;
    width: 15vw;
    text-align: end;
}

.bgYellow {
    background-color: yellow;
    display: inline-block;
    width: 15vw;
    text-align: end;
}

.buttonDiv {
	display: flex;
	gap: 0.3em;
	align-self: center;
    font-size: 4vw;
}

.buttonPressed {
    border: inset;
    background-color: #c1c1c1;
}

.dateColour {
  background-color: lightgreen;
  margin-right: 5px;
}

.dropDownButton {
    background-color: white;
    border: 1px solid lightgray;
}

.foodType {
  font-size: 2.2em;
  /* width: 25%; */
  height: 1.5em;
  border-radius: 7px;
}


.foodTypeActive {
    box-shadow: none;
    border: inset;
    background-color: white;
}

.foodTypeSetUp {
    font-size: 1.5em;
    width: 88%;
    height: 1.5em;
    border-radius: 7px;
    background-color: white;
    align-self: center;
}

.shaddowed {
    color: transparent;
    text-shadow: 0 0 0 #a2aac8;
}

.goesLeft {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goesRight {
    margin-left: 10px;
    flex-shrink: 0;
}

.itemDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.menuButton {
    width: 60vw;
    align-self: center;
    background: rgba(194, 235, 244, 0.77);
    border-radius: 10px;
}

.noLeft {
    color: rgba(40, 90, 240, 0.35);
}

.notImplemented {
    background-color: darkgray;
    color: gray;
}

.shelveNum {  /* Needs to come before .numberActive */
	background: #c4f1ff;
    border-radius: 5px;
    width: 6em;
}

/* .nonVegansk {
	display: none;
} */

.numberActive {
  border: 1px inset;
  background: white;
}

.plus, .minus {
    border-color: rgb(241, 104, 104);
    border-radius: 7px;
    background-color: white;
    width: 28px;

}

.tabButton {
    width: 33vw;
    border-radius: 15px 15px 0px 0px;
    background: rgba(211, 211, 211, 0.30);
}

.tabActive {
    background: rgba(153, 222, 238, 0.77);
}

.textP {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
