
button {
    width: 49%;
    border-radius: 15px 15px 0px 0px;
}

h1 {
    text-align: center;
}

summary {
    font-size: 1.5em;
    background-color: aqua;
    border: 1px solid;
    text-align: center;
}

summary::marker {
    content: none;
}