
h1 {
    text-align: center;
}

summary {
    font-size: 1.5em;
    background-color: rgba(0, 255, 255, 0.21);
    border: 1px solid;
    text-align: center;
}

summary::marker {
    content: none;
}

#addItemPage {
  display: none;
  background-color: white;
  position: absolute;
  top: 100px;
  width: 80%;
  left: 10%;
  height: 80%;
  border-radius: 30px;
  border: 2px gray solid;
}

.dateColour {
  background-color: lightgreen;
  margin-right: 5px;
}

.foodType {
  font-size: 3em;
}

.goesLeft {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goesRight {
    margin-left: 10px;
    flex-shrink: 0;
}

.itemDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.plus, .minus {
    border-color: rgb(241, 104, 104);
    border-radius: 7px;
    background-color: white;
    width: 28px;

}

.tabButton {
    width: 49%;
    border-radius: 15px 15px 0px 0px;
}
